<hr>
<h3>Server Component</h3>
<form #serverForm="ngForm" (ngSubmit)="addServer(serverForm)" style="margin-bottom: 20px;">
  <div>
    <label style="font-weight: bold;">Server Name:</label>
    <input type="text" name="serverName" [(ngModel)]="serverName" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
  </div>

  <div style="margin-top: 10px;">
    <label style="font-weight: bold;">Server Id:</label>
    <input type="text" name="serverId" [(ngModel)]="serverId" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
  </div>

  <div style="margin-top: 10px;">
    <label style="font-weight: bold;">Server Status:</label>
    <select name="serverStatus" [(ngModel)]="serverStatus" style="padding: 5px; border-radius: 5px; border: 1px solid #ccc;">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add Server</button>
</form>
<hr>

<div *ngFor="let server of servers" style="margin-bottom: 10px;">
  <p style="font-weight: bold;">Server Name: {{ server.serverName }}</p>
  <p [ngStyle]="{'font-weight': server.serverStatus === 'online' ? 'bold' : 'normal', 'color': server.serverStatus === 'online' ? 'green' : 'red'}">Server ID: {{ server.serverStatus }}</p>
  <p [ngStyle]="{'font-weight': server.serverId % 2 === 0 ? 'bold' : 'normal',
               'color': server.serverId % 2 === 0 ? 'blue' : 'purple'}">
    Server ID: {{ server.serverId }}
  </p>
  <hr>
</div>

<p>Total Number of Servers: {{getNumberOfServer()}}</p>
<p style="font-weight: bold; color: green;">Number of Server Online: {{ getNumberOfOnlineServer() }}</p>
<p style="font-weight: bold; color: red;">Number of Server Offline: {{ getNumberOfOfflineServer() }}</p>
